<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abhay>
            <general>
                <enable>1</enable>
                <child_product>
                    <sku>1</sku>
                    <salable>0</salable>
                </child_product>
            </general>
        </abhay>
    </default>
</config>